# Umumiy / Tizim
.DS_Store
Thumbs.db
*.log
.env
.env.*
!.env.example

# Node.js & Dependencies
node_modules/
web/node_modules/
api/node_modules/

# Build Outputs
web/.next/
web/out/
web/build/
web/.vercel/
api/dist/

# Logs & Temporary
api/storage/
*.log